# Core
Flask==3.0.3
Flask-Cors==4.0.0
Flask-JWT-Extended==4.6.0
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1

# Background tasks
Celery==5.3.6
redis==5.0.4

# ORM & DB
SQLAlchemy==2.0.31
Alembic==1.13.2
PyMySQL==1.1.0

# Integrations
requests==2.32.3
cloudscraper==1.2.69
tmdbv3api==1.9.0

# Validation & Settings
pydantic==2.7.4
python-dotenv==1.0.1

# Logging & CLI
colorama==0.4.6
loguru==0.7.2

# Server
gunicorn==22.0.0

# Development
autopep8==2.0.4
pycodestyle==2.12.0
